$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$white: hsl(0, 0%, 100%); 
$soft-violet: hsl(277, 64%, 61%);
$soft-violet-bg: hsla(277, 64%, 43%, 0.475);
$slightly-transparent-white-dark: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-light: hsla(0, 0%, 100%, 0.6)                                                                                                   